*.user
*.obj
*.o
*.a
*.suo
*.opensdf
*.sdf
*.aps
*.rar
*.zip
*.7z
*.lnk
*.txt
*.cuo
*.mul
*.rle
*.idx
*.cfg
*.enu
*.rus
*.bat
*.exe
*.dll
*.def
*.ini
*.sc
*.iff
*.uop
*.pdb
*.sf2
/.vs
/Makefile*
/ipch
/OrionUO/snapshots
/OrionAssistConfig
/Release
/Debug
/x64
/OrionUO/Debug
/OrionUO/Release
/OrionUO/OA
/OrionUO/x64
/Desktop
/OrionUO/music
!/debug_bin/*.dll
!/bin/*.dll
!/bin/*.exe
!/bin/*.pdb
!/bin/*.sf2
!/bin32/*.dll
!/bin32/*.exe
!/bin32/*.pdb
!/bin32/*.sf2
!/bin64/*.dll
!/bin64/*.exe
!/bin64/*.pdb
!/bin64/*.sf2
!/WikiData/RU/*.txt
