*.user
*.obj
*.o
*.suo
*.opensdf
*.sdf
*.aps
*.rar
*.txt
*.cuo
*.mul
*.rle
*.idx
*.cfg
*.enu
*.bat
*.exe
*.dll
!ConfigurationEditor.exe
/Bodyconv1.def
/Makefile*
/ipch
/Release
/Debug
/Desktop
/music
!/dll/*.dll
