*.user
*.obj
*.o
*.suo
*.opensdf
*.sdf
*.aps
*.rar
*.txt
*.cuo
*.mul
*.rle
*.idx
*.cfg
*.enu
*.bat
*.exe
*.dll
*.def
*.ini
*.sc
*.iff
!ConfigurationEditor.exe
/Makefile*
/ipch
/snapshots
/OrionAssistConfig
/Release
/Debug
/Desktop
/music
!/dll/*.dll
