dist: trusty
sudo: require
language: cpp
compiler: clang
os: 
    - linux
addons:
  apt:
    sources:
      - sourceline: "ppa:george-edison55/cmake-3.x"
      - llvm-toolchain-trusty-6.0
      - ubuntu-toolchain-r-test
    packages:
      - cmake
      - cmake-data
      - clang-6.0
      - clang++-6.0
      - g++-7
      - gcc-7
      - clang-format-6.0
      - libglu1-mesa-dev
      - xorg-dev
script:
    - export CC=/usr/bin/clang
    - export CXX=/usr/bin/clang++
    - clang -v && clang++ -v && cmake --version
    - git --version
    - cd build && cmake .. && make -j 8
    - ./OrionUO/OrionUO
notifications:
  webhooks:
    urls:
      secure: https://discordapp.com/api/webhooks/237606690495791104/ewURTxkzbXphiOgXbzImxaHAsFCDuIDsVIDSADAeSs8a_6sd5VgWGWUG42Ij_qRTkocf
    on_success: always
    on_failure: always
    on_start: always
